html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #009688;
    color: #020101;
    padding: 30px 20px;
    width: 100%;
}

.container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #ff6248;
    padding: 1.5rem;
    border-radius: 15px;
    border: 3px solid;

}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;

}

.container-btn a {
    margin-left: 2rem;
    margin-right: 2rem;
}

.container-cadastro {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: #ffe5d7d1;
    padding: 1.5rem;
    border-radius: 15px;
    border: 3px solid;
}
.container-cabecalho {
    display: flex;
    justify-content: space-between;
}
.btn-verde {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #020101;
    color: #020101;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-verde:hover {
    background-color: #00ff8c;
    color: #020101;
}

.btn-amarelo {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #020101;
    color: #020101;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-amarelo:hover {
    background-color: #f6ff00;
    color: #020101;
}

.table {
    background-color: #795548;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead tr {
    background-color: #da9e31;
}

.table th,
.table td {
    border: 3px solid #2c1818;
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #ffffff;
}

.table th {
    background-color: #4cafaf;
    opacity: 50%;
    color: rgb(255, 255, 255);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 3px solid #2c1818;
    border-radius: 4px;
}


input:hover {
    border-color: #555;
}


input:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 3px solid #2c1818;
}

select:hover {
    border-color: #555;
}

select:focus {
    outline: none;
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

select::-ms-expand {
    display: none;
}

select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

